/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #3c123e;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
}

ul {
  list-style: none;
}

ul a {
  color: #ffffff;
  text-decoration: none;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  padding-top: 80px;
}

/* Title */
.title {
  text-shadow: -15px 18px 0px #18011b;
  font-size: 3rem;
}

/* List */
.game-list {
  display: flex;
  gap: 40px;
  line-height: 30px;
}

.game-list li a {
  display: block;
  text-shadow: -15px 18px 0px #18011b;
  font-size: 1rem;
}

.game-list li ul li {
  /* transition: transform 0.2s; */
}

.game-list li ul li:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  width: 100%;
  background-color: #18011b;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  line-height: 25px;
  bottom: 0;
}

footer p {
  font-size: 0.8rem;
}

footer p a {
  color: #886ce4;
  transition: color 0.2s;
}

footer p a:hover {
  color: #b9a5fd;
}

@media (max-width: 855px) {
  /* Container */
  .container {
    padding: 40px 30px 40px 30px;
    gap: 40px;
  }

  /* Title */
  .title {
    text-shadow: -15px 18px 0px #18011b;
    font-size: 2rem;
  }

  /* List */
  .game-list {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }
}
